ORA_USR=your_user
ORA_PWD=your_password
ORA_CONSTR=your_connection_string
POOL_MIN=2
POOL_MAX=10
THIN_MODE=true # or false
ORACLE_CLIENT_LIB_DIR=/path/to/oracle_instant_client_home_dir # (Optional) Required only if THIN_MODE=false
ORACLE_POOL_MONITORING=true # or false
ORACLE_MONITOR_INTERVAL=30000 # in ms
NODE_ENV=dev # Use dev, devel, or development for Dev Mode. Anything else defaults to Production Mode.